$background-fon: #F8F8F8;
$background-white: #FFF;
$border-color: #EAEAEA;
$border-line: #D9FFF5;
$gray-text: #7E7E82;
$placeholder-text: #B5B6BC;
$black: #000;
$black-text: #1B1C21;
$btn-color: #FF3E79;
$check-line: #41F6D7;
