.footer {
    padding-top: 8px;
    padding-bottom: 11px;
    background-color: $background-fon;
    border-top: 1px solid $border-line;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding: 24px;
        padding-top: 32px;
        padding-bottom: 25px;
    }
    @media (min-width: 1120px) {
        display: flex;
        justify-content: space-between;
        padding: 32px;
        margin-bottom: 0;
        padding-bottom: 21px;
    }
    &__text {
        color: $gray-text;
        font-family: "TT Lakes Medium";
        font-size: 14px;
        line-height: 16px;
        opacity: .72;
        text-align: center;
        padding: 8px;

        @media (min-width: 768px) {
            padding: 0;
            width: 33.3%;
            text-align: left;

            &:nth-child(2){
                text-align: center;
            }

            &:last-child {
                text-align: right;
            }
        }
    }

    
}
