html {
    overflow-x: hidden;
    box-sizing: border-box;
}

.blur-body {
    &--left {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $background-fon;
        opacity: 0;
        transition: all .4s;
    }
    &--right {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $background-fon;
        opacity: 0;
        transition: all .4s;
    }
}
.main {
    background: $background-fon;
    &__more {
        display: flex;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
            column-gap: 24px;
            row-gap: 16px;
            justify-content: space-between;
            max-height: 160px;
            margin: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in-out;
        }

        @media (min-width: 1120px) {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            column-gap: 32px;
            row-gap: 16px;
            }
    }

    &__title {
        font-family: "TT Lakes Regular";
        text-transform: uppercase;
        letter-spacing: -0.2px;
        line-height: 24px;
        color: $gray-text;
        display: flex;
        align-items: center;
        padding: 0 16px;
        min-height: 56px;
        border-top: 1px solid $border-line;
        background: linear-gradient(to left, $background-white 40%, $background-fon 100%);
        & p {
            padding: 16px;
        }
        @media (min-width: 768px) {
            padding: 0 24px;
            height: 56px;
        }
    
        @media (min-width: 1120px) {
            padding: 0 32px;
        }
    }

    &__block {
        position: relative;
        background-color: $background-fon;
        padding: 16px;
        padding-right: 0;
        padding-bottom: 50px;

        @media (min-width: 768px) {
            padding: 24px;
            padding-bottom: 34px;
        }

        @media (min-width: 1120px) {
            padding: 24px 32px;
        }
    }
    
    &__btn-more {
        display: flex;
        margin-top: 24px;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        width: 134px;
    }

    &__more-img {
        margin-right: 9px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s;
    }

    &__more-text {
        @media (min-width: 768px) {
            font-family: "TT Lakes Medium";
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
        }
    }

}
