@mixin title-h1 {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: $black-text;
  }
@mixin title-active {
    position: absolute;
    left: 0;
    border-left: 4px solid $check-line;
    border-radius: 0 50px 50px 0;
    height: 40px;
}

@mixin gradient-opacity {
    position: absolute;
    top: 16px;
    right: 0;
    width: 24px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, $background-fon 90%);
    z-index: 2;
}

@mixin btn {
    background-color: $btn-color;
    border: none;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    padding-left: 12px;
    font-family: "TT Lakes Bold";
    color: $background-white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -.15px;
    cursor: pointer;
}
