.various {
    overflow: hidden;

    &__child {
        box-sizing: border-box;
        background-color: $background-white;
        height: 160px;
        margin-right: 16px;
        border-radius: 6px;
        display: flex;
        flex: 0 0 238.4px;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $border-color;

        @media (min-width: 768px) {
            margin: 0; 
        }
    }

    &__text {
        font-family: "TT Lakes Medium";
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -.2px;
        padding: 16px;
        align-self: flex-start;
    }

    &__img {
        padding: 16px;
        align-self: flex-end;
    }

    &__block-gradient--opacity {
        @include gradient-opacity;
        height: 160px;
    }
    
}